table {
    table-layout:fixed;
}

th, td {
  border: 3px double black;
  text-align: center;
  vertical-align: middle;
}

.dato div {
	height: 100px; 
	overflow:scroll;
}

thead {
    background-color: #A4A4A4;
}

.rotate {
  -moz-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-o-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg); 
}

.tabla_inst {
	font-size: 1.5em;
}